.header {
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  background-color: var(--inputs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
}
