.nav {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  text-decoration: none;
  color: var(--main);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--button-hover);
}

.navLink:hover,
.navLink:focus {
  color: var(--button-hover);
  transform: scale(1.04);
}
