.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  border-radius: 100px;
  padding: 12px 18px;
  max-width: 143px;
  height: 48px;
  background-color: var(--badges);
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}
