.filter_wrapper {
  display: flex;
  flex-direction: column;
}

.search_button {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: var(--button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: 32px;
}

.search_button:hover {
  background-color: var(--button-hover);
}

.errorMessage {
  color: var(--button);
}

.filter_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 8px;
}

.input_wrapper {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.input_location {
  border-radius: 12px;
  padding: 18px 48px 18px 48px;
  width: 360px;
  height: 56px;
  background-color: var(--inputs);
  border: none;
}

.input_location::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.icon {
  position: absolute;
  left: 20px;
  bottom: 20px;
  pointer-events: none;
}

.equipment_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-top: 32px;
  position: relative;
}

.equipment_title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  width: 360px;
  height: 1px;
  background-color: var(--gray-light);
}

.group_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 48px;
  max-width: 360px;
}

.group_wrapper p {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  width: 112px;
  height: 96px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.group_wrapper input[type="checkbox"],
.group_wrapper input[type="radio"] {
  display: none;
}

.group_wrapper p:hover {
  border-color: var(--button-hover);
}

.group_wrapper input[type="checkbox"]:checked + p,
.group_wrapper input[type="radio"]:checked + p {
  border: 1px solid var(--button-hover);
}
