.hero {
  margin: 0 auto;
  background-color: var(--rating);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/hero_bg.jpg");
  min-height: 100vh;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: url("../../assets/img/hero-bg@2x.jpg");
  }
}

.container {
  padding: 260px 64px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 16px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 40px;
}

.button {
  background-color: var(--button);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  padding: 16px 48px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}
